In [1]:
def test():
    pass

In [2]:
def fn1():
    print("First trying function")

In [4]:
fn1()

First trying function

In [5]:
type(fn1())

First trying function

NoneType

In [6]:
fn1() + "Tridibesh"

First trying function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [13]:
def fn2():
    return"This is defference between print and return"
fn2()

'This is defference between print and return'

In [15]:
fn2() + " Goopal"

'This is defference between print and return Goopal'

In [21]:
def sumfn(a,b):
        return a+b
    
print(sumfn("g",str(4)))
sumfn(2,8)

g4

10

In [23]:
def fn4():
    return 2,4.5,5+2j,"Gopal",True,[2,3,5],(3,5,"sastri"),{1,3,4,5,6},{"key":9,4:"Hi!"}

In [25]:
a,b,c,d,e,f,g,h,i = fn4()

In [30]:
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)
print(i[4])

2
4.5
(5+2j)
Gopal
True
[2, 3, 5]
(3, 5, 'sastri')
{1, 3, 4, 5, 6}
{'key': 9, 4: 'Hi!'}
Hi!

In [31]:
def devide(a,b):
    return a/b,a%b

In [33]:
quotient,remainder = devide(480,360)

In [34]:
print(quotient)
print(remainder)

1.3333333333333333
120

In [44]:
l = [3,4,6,7,"Gopal",[4,5,6,7]]
def findnum(a):
    temp = []
    temp2 =[]
    for i in a:
        if type(i) == int :
            temp.append(i)
        else :
            temp2.append(i)
    
    return temp,temp2

l_int , l_str = findnum(l)
print(l_int)
print(l_str)

[3, 4, 6, 7]
['Gopal', [4, 5, 6, 7]]

In [48]:
l_int , l_str = findnum(l)
s = "456gopal"
list(s)

['4', '5', '6', 'g', 'o', 'p', 'a', 'l']

In [47]:
print(l_int)
print(l_str)
l1 = [1,4,5]
l2 = [8,9,0]
l1 + l2

[3, 4, 6, 7]
['Gopal', [4, 5, 6, 7]]

[1, 4, 5, 8, 9, 0]

In [52]:
#use docstring in function so that any user can understand what actually your do
def findnum(a):
    """This fn find numbers in a list"""
    l =[]
    for i in a :
        if type(i) == list:
            l = l+ findnum(i)
        elif type(i) == int:
            l.append(i)
        else:
            continue
    return l

l =[3,4,6,7,"Gopal",[4,5,6,7]]

findnum(l)

[3, 4, 6, 7, 4, 5, 6, 7]

In [53]:
# for random number of input we use '*' in argument, this random number of inputs are stored in a tuple
def random(*arg):
    return arg
random(2,3,4,5,5)

(2, 3, 4, 5, 5)

In [58]:
def rand1(*gopal):
    return gopal
rand1(1,2,4,5,6,"gopal")

(1, 2, 4, 5, 6, 'gopal')

In [59]:
type(rand1(1,2,4,5,6,"gopal"))

tuple

In [63]:
#default variable with random input function as argumernt
def rand2(*arg,a = 2):
    """find the numbers divisible by input a"""
    l= []
    for i in arg:
        if i % a == 0:
            l.append(i)
        else : continue
    return l

rand2(1,2,3,4,5,6,7,8,9)

[2, 4, 6, 8]

In [64]:
#rewriting default argument
rand2(1,2,3,4,5,6,7,8,9,a = 3)

[3, 6, 9]

In [67]:
## for random number of input we use '**' in argument to store them in a dictionary
def rand3(**a):
    return a
rand3(a = 'Gopal', b = "Animesh",c = [1,2,3,4,5])

{'a': 'Gopal', 'b': 'Animesh', 'c': [1, 2, 3, 4, 5]}